.nav {
  grid-area: n;
  padding: 10px;
  background-color: rgb(241 188 95);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  color: white;
  font-size: 18px;
}

.item.active {
  text-decoration: underline;
}
